<div fxLayout="column" fxLayoutAlign="space-around center">
  <md-card-header ><i class="material-icons md-48">account_circle</i>Contact: {{contact.id}}</md-card-header>
<md-card-content>

  <div>
    {{contact.firstName}}
  </div>
  <div>
    {{contact.lastName}}
  </div>
  <div>
    {{contact.phone}}
  </div>
  <div>
    {{contact | contactAddress}}
  </div>

</md-card-content>
  <md-card-actions>
  <button md-mini-fab (click)="editItem()"><md-icon>create</md-icon></button>
  <button md-mini-fab (click)="deleteItem()"><md-icon>delete</md-icon></button>
  <button md-mini-fab (click)="showContactOnMap()"><md-icon>location_on</md-icon></button>
  </md-card-actions>
</div>
