<div fxLayout="column" fxLayoutAlign="space-around center">
  <md-card-header ><i class="material-icons md-48">account_circle</i>Contact: {{contact.id}}</md-card-header>
<md-card-content>

  <div>
    {{contact.firstName}}
  </div>
  <div>
    {{contact.lastName}}
  </div>
  <div>
    {{contact.phone}}
  </div>
  <div>
    {{contact.streetAddress + ", " + contact.city}}
  </div>

</md-card-content>
  <md-card-actions>
  <button md-mini (click)="editItem(contact)"><md-icon>create</md-icon></button>
  <button md-mini (click)="deleteItem(contact)"><md-icon>delete</md-icon></button>
  <button md-mini (click)="showContactOnMap(contact)"><md-icon>location_on</md-icon></button>
  </md-card-actions>
</div>
