<h1 md-dialog-title>Contact</h1>
<div md-dialog-content>

  <thead>Contact</thead>
  <div>
    <md-input-container><input mdInput [(ngModel)]="contact.firstName" type="text" required
                               placeholder="First Name"></md-input-container>
  </div>
  <div>
    <md-input-container><input mdInput [(ngModel)]="contact.lastName" type="text" required
                               placeholder="Last Name"></md-input-container>
  </div>
  <div>
    <md-input-container><input mdInput [(ngModel)]="contact.phone" type="text" required
                               placeholder="Phone Number"></md-input-container>
  </div>
  <div>
    <md-input-container><input mdInput [(ngModel)]="contact.streetAddress" type="text" required
                               placeholder="Street Address"></md-input-container>
  </div>
  <div>
    <md-input-container><input mdInput [(ngModel)]="contact.city" type="text" required
                               placeholder="City"></md-input-container>
  </div>


  <button md-mini (click)="add()">add</button>
</div>
